@model IEnumerable<OnlineStore.Website.ViewModels.ProductViewModel>

@{
    bool first = true;
}

@foreach (var product in Model)
{
    if (first)
    {
        <div class="carousel-item active rounded product-carousel-h align-items-center text-center" style="background-image: url(@Url.Content($"~/Content/Images/Products/{product.ProductImageFilename}")); background-size: cover; height: 30vh;">
            <span class="badge badge-pill badge-position badge-danger">@Resources.Resource.Stock</span>
            
            <div class="carousel-caption text-center">
                <div class="rounded p-2 text-warning" style="background-color: rgba(0, 0, 0, 0.4)">
                    @Html.ActionLink(product.ProductName, "", "", new { }, new { @class = "btn-xs font-weight-bold text-warning" })
                    @if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "ru")
                    {
                        <span class="badge badge-pill badge-position badge-success">@product.Price @Resources.Resource.CurrencyName</span>
                    }
                    else
                    {
                        <span class="badge badge-pill badge-position badge-success">@Resources.Resource.CurrencyName@product.Price</span>
                    }
                </div>
            </div>
        </div>

        first = false;
    }
    else
    {
        <div class="carousel-item rounded product-carousel-h align-items-center text-center" style="background-image: url(@Url.Content($"~/Content/Images/Products/{product.ProductImageFilename}")); background-size: cover; height: 30vh;">
            <span class="badge badge-pill badge-position badge-danger">@Resources.Resource.Stock</span>

            <div class="carousel-caption text-center">
                <div class="rounded p-2 text-warning" style="background-color: rgba(0, 0, 0, 0.4)">
                    @Html.ActionLink(product.ProductName, "", "", new { }, new { @class = "btn-xs font-weight-bold text-warning" })
                    @if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "ru")
                    {
                        <span class="badge badge-pill badge-position badge-success">@product.Price @Resources.Resource.CurrencyName</span>
                    }
                    else
                    {
                        <span class="badge badge-pill badge-position badge-success">@Resources.Resource.CurrencyName@product.Price</span>
                    }
                </div>
            </div>
        </div>
    }
}
