<!DOCTYPE html>

<html lang="ru, en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE =edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="keywords" content="@ViewBag.PageKeywords" />
    <meta name="description" content="@ViewBag.PageDescription" />
    <link rel="shortcut icon" href=@ViewBag.Favicon type="image/png" />
    @Styles.Render("~/bundles/styles")
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="wrapper">
        <div id="header" class="default">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="@Url.Action("index", "home")">
                    <img src="@Url.Content("~/Content/Images/Website/favicon.png")" width="48" height="48" class="d-lg-inline-block d-none align-top" alt="Logo">
                    <img src="@Url.Content("~/Content/Images/Website/favicon.png")" width="32" height="32" class="d-inline-block d-lg-none align-top" alt="Logo">
                </a>
                <p class="navbar-brand d-none d-lg-inline mr-auto mb-0 h1">Venus Flytrap</p>
                <div class="d-lg-none d-flex ml-auto align-items-center">
                    <div class="dropdown">
                        <button class="btn btn-xs dropdown-toggle" id="navbarLanguageDropdownMobile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="@Url.Content("~/Content/Images/Website/language.svg")" height="20" width="20" />
                        </button>
                        <div class="dropdown-menu text-secondary" aria-labelledby="navbarLanguageDropdownMobile">
                            @{
                                foreach (var l in Model.Languages)
                                {
                                    <div class="d-flex align-items-center dropdown-item justify-content-center">
                                        <img src="@Url.Content($"~/Content/Images/Website/{l.ImageFilename}")" height="20" width="20" />
                                        @Html.ActionLink((string)l.LanguageName, "changeculture", "home", new { lang = (string)l.LanguageCode }, new { @class = "ml-1 dropdown-item text-secondary" })
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-xs dropdown-toggle" id="navbarCartDropdownMobile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="@Url.Content("~/Content/Images/Website/shopping-cart.svg")" height="20" width="20" />
                            <span class="badge badge-secondary">0</span>
                        </button>
                        <div class="dropdown-menu text-secondary text-center" aria-labelledby="navbarCartDropdownMobile">
                            <p class="m-0">@Resources.Resource.CartEmpty</p>
                        </div>
                    </div>
                    @Html.ActionLink(@Resources.Resource.SignIn, "signin", new { area = "account", controller="user" }, new { @class = "btn btn-xs btn-outline-success mr-1" })
                </div>
                <button class="navbar-toggler btn-xs" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse flex-column btn-xs ml-1 text-center navbar-collapse" id="navbarSupportedContent">
                    @*<div class="container-fluid flex-column">
                        <form class="form d-flex flex-row align-items-center">
                            <input name="search" class="form-control btn-xs mr-2" type="search" placeholder="Search..." aria-label="Search">
                            <button class="btn btn-xs btn-outline-primary" type="submit">@Resources.Resource.Search</button>
                        </form>
                    </div>*@
                    <div class="container-fluid">
                        <ul class="navbar-nav d-flex flex-wrap justify-content-between">
                            <li class="nav-item d-flex align-items-center justify-content-center">
                                <img class="mr-1" src="@Url.Content("~/Content/Images/Website/home.svg")" height="20" width="20" />
                                <a class="nav-link active font-weight-bold" href="@Url.Action("index", "home")">@Resources.Resource.Home</a>
                            </li>
                            <li class="nav-item d-flex align-items-center justify-content-center">
                                <img class="mr-1" src="@Url.Content("~/Content/Images/Website/product.svg")" height="20" width="20" />
                                <a class="nav-link" href="@Url.Action("index", "product")">@Resources.Resource.Catalog</a>
                            </li>
                            <li class="nav-item d-flex justify-content-center align-items-center">
                                <img class="mr-1" src="@Url.Content("~/Content/Images/Website/plant.svg")" height="20" width="20" />
                                <a class="nav-link" href="@Url.Action("index", "careandmaintaince")">@Resources.Resource.CareAndMaintaince</a>
                            </li>
                            <li class="nav-item d-flex align-items-center justify-content-center">
                                <img class="mr-1" src="@Url.Content("~/Content/Images/Website/payment-delivery.svg")" height="20" width="20" />
                                <a class="nav-link" href="@Url.Action("index", "paymentanddelivery")">@Resources.Resource.PaymentAndDelivery</a>
                            </li>
                            <li class="nav-item d-flex align-items-center justify-content-center">
                                <img class="mr-1" src="@Url.Content("~/Content/Images/Website/discount.svg")" height="20" width="20" />
                                <a class="nav-link" href="@Url.Action("index", "stock")">@Resources.Resource.Stock</a>
                            </li>
                            <li class="nav-item d-flex align-items-center justify-content-center">
                                <img class="mr-1" src="@Url.Content("~/Content/Images/Website/gallery.svg")" height="20" width="20" />
                                <a class="nav-link" href="@Url.Action("index", "gallery")">@Resources.Resource.Gallery</a>
                            </li>
                            <li class="nav-item d-flex align-items-center justify-content-center">
                                <img class="mr-1" src="@Url.Content("~/Content/Images/Website/contacts.svg")" height="20" width="20" />
                                <a class="nav-link" href="@Url.Action("index", "contact")">@Resources.Resource.Contacts</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ml-auto d-none d-lg-flex align-items-center justify-content-center">
                    <div>
                        <span class="ml-2 pb-2 d-block vertical-divider">|</span>
                    </div>
                    <div class="container-fluid flex-lg-column">
                        <div class="container-fluid">
                            <div class="dropdown">
                                <button class="btn text-secondary dropdown-toggle" id="navbarLanguageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="@Url.Content("~/Content/Images/Website/language.svg")" height="24" width="24" />
                                    @Resources.Resource.Language
                                </button>
                                <div class="dropdown-menu text-center" aria-labelledby="navbarLanguageDropdown">
                                    @{
                                        foreach (var l in Model.Languages)
                                        {
                                            <div class="d-flex align-items-center dropdown-item justify-content-center">
                                                <img src="@Url.Content($"~/Content/Images/Website/{l.ImageFilename}")" height="20" width="20" />
                                                @Html.ActionLink((string)l.LanguageName, "changeculture", "home", new { lang = (string)l.LanguageCode }, new { @class = "ml-1 dropdown-item text-secondary" })
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <hr class="mb-1"/>
                        <div class="d-flex justify-content-center flex-nowrap">
                            <div class="dropdown">
                                <button class="btn btn-xs dropdown-toggle" id="navbarCartDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="@Url.Content("~/Content/Images/Website/shopping-cart.svg")" height="24" width="24" />
                                    <span class="badge badge-secondary">0</span>
                                </button>
                                <div class="dropdown-menu text-secondary text-center" aria-labelledby="navbarCartDropdown">
                                    <p class="m-0">@Resources.Resource.CartEmpty</p>
                                </div>
                            </div>
                            @Html.ActionLink(@Resources.Resource.SignIn, "signin", new { area = "account", controller="user" }, new { @class = "btn ml-3 text-nowrap btn-outline-success" })
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        @RenderBody()
    </div>

    <footer class="bg-light d-flex flex-column page-footer align-items-center text-center">
        <div class="d-flex text-secondary container-fluid flex-lg-row flex-column justify-content-center">
            <div class="container-fluid my-2 mx-lg-1 d-flex align-items-center border-dotted">
                <p>
                    @Html.Raw(new HtmlString(Resources.Resource.OnlineStoreFooterAbout))
                </p>
            </div>
            <div class="container-fluid my-2 mx-lg-1 d-flex align-items-center justify-content-center flex-column border-dotted">
                <p>
                    @Resources.Resource.FollowUs
                </p>
                <div class="container d-flex align-items-center justify-content-around">
                    <a href="@Url.Action("", "https://vk.com/")">
                        <img src="@Url.Content("~/Content/Images/Website/vk.svg")" height="48" width="48" alt="Vkontakte" />
                    </a>
                    <a href="@Url.Action("", "https://instagram.com/")">
                        <img src="@Url.Content("~/Content/Images/Website/instagram.svg")" height="48" width="48" alt="Instargram" />
                    </a>
                    <a href="@Url.Action("", "https://youtube.com/")">
                        <img src="@Url.Content("~/Content/Images/Website/youtube.svg")" height="48" width="48" alt="Youtube" />
                    </a>
                </div>
            </div>
            <div class="container-fluid my-2 mx-lg-1 flex-column border-dotted">
                <p>@Resources.Resource.ContactUs</p>
                <div class="container-fluid">
                    <p>
                        <img src="@Url.Content("~/Content/Images/Website/map.svg")" height="20" width="20" alt="Location" />
                        @Model.Contacts.Location
                    </p>
                    <p>
                        <img src="@Url.Content("~/Content/Images/Website/mobile-phone.svg")" height="20" width="20" alt="Mobile" />
                        @Model.Contacts.MobilePhone
                    </p>
                    <p>
                        <img src="@Url.Content("~/Content/Images/Website/gmail.svg")" height="20" width="20" alt="Email" />
                        @Model.Contacts.Email
                    </p>
                    <p>
                        <img src="@Url.Content("~/Content/Images/Website/clock.svg")" height="20" width="20" alt="Work time" />
                        @Model.Contacts.WorkTime
                    </p>
                    <p>
                        <img src="@Url.Content("~/Content/Images/Website/registration.svg")" height="20" width="20" alt="Registration" />
                        @Model.Contacts.Registration
                    </p>
                    <hr />
                    <div class="mt-1 dropup">
                        <button class="btn text-secondary dropdown-toggle" id="footerLanguageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="@Url.Content("~/Content/Images/Website/language.svg")" height="20" width="20" />
                            @Resources.Resource.Language
                        </button>
                        <div class="dropdown-menu text-center" aria-labelledby="footerLanguageDropdown">
                            @{ 
                                foreach(var l in Model.Languages)
                                {
                                    <div class="d-flex align-items-center dropdown-item justify-content-center">
                                        <img src="@Url.Content($"~/Content/Images/Website/{l.ImageFilename}")" height="20" width="20" />
                                        @Html.ActionLink((string)l.LanguageName, "changeculture", "home", new { lang = (string)l.LanguageCode }, new { @class = "ml-1 dropdown-item text-secondary" })
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-secondary text-light container-fluid">
            2018 - @DateTime.UtcNow.Year &copy; - Venusflytrap.com
        </div>
    </footer>

    @Scripts.Render("~/bundles/js")
</body>

</html>